In [3]:
import sqlite3

A given data of 12 Employees working in an investment firm. So add the Employee Data in Employee SQLite Database of Employee_Detail Table which was created by you.

In [1]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

In [5]:
# Create the database
db = sqlite3.connect('Employee.sqlite')

In [6]:
# Create cursor to execute the commands
curr = db.cursor()

In [7]:
curr.execute('CREATE TABLE Employee (Employee_ID int Primary Key, Name text, Age int, Department text, Salary int)')

In [9]:
for i in range(0,len(employee_id)):
    curr.execute('INSERT INTO Employee VALUES(?,?,?,?,?)',(employee_id[i],name[i],age[i],department[i],salary[i]))

In [10]:
db.commit()

In [11]:
curr.execute('Select * from Employee')
for row in curr:
    print(row)

(101, 'Aadarsh', 25, 'Marketing', 50000)
(102, 'Aarti', 27, 'Operations', 60000)
(103, 'Siddharth', 25, 'Finance', 85000)
(104, 'Aman', 24, 'Human Resource', 75000)
(105, 'Amit', 30, 'Marketing', 50000)
(106, 'Shivansh', 26, 'IT', 90000)
(107, 'Vaibhav', 23, 'Finance', 85000)
(108, 'Himanshu', 26, 'IT', 90000)
(109, 'Raman', 25, 'Operations', 60000)
(110, 'Kunal', 26, 'Marketing', 50000)
(111, 'Adhira', 29, 'Human Resource', 75000)
(112, 'Tanya', 24, 'Marketing', 50000)

Find the employee_id of employee whose is working in Finance Department in Investment firm from Employee SQLite Database.
Print the employee_id as integer value

In [18]:
ans = curr.execute('SELECT Employee_ID from Employee where Department = "Finance"')
ans

In [19]:
for row in ans:
    print(row)

(103,)
(107,)

Find the number of employee working in different department in an investment firm from Employee SQLite Database.
Print the department and number of employee

In [20]:
ans = curr.execute('SELECT Department, Count(Department) from Employee group by Department')

In [21]:
for i in ans:
    print(i)

('Finance', 2)
('Human Resource', 2)
('IT', 2)
('Marketing', 4)
('Operations', 2)